html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #141e30, #243b55);
    font-family: 'Nokora', sans-serif;
    color: white;
}

#app-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.to-do-list-container {

}
#to-do-list {
    list-style-type: "➢ ";
}
.to-do-list-item {

}
#input-form-container {
    display: flex;
}
#input-form {

}
#text-box {

}
#add-button {
    
}